In [1]:
names : list[str] = ['Waqas' , 'haris', 'arman']

team : str = 'waqas'

print(team)

for name in names :
    print(name)

Waqas
haris
arman

In [3]:
names : list[str] = ['Waqas' , 'haris', 'arman']

i : int = 0

while i < len(names):
    print(names[i])
    i += 1

Waqas
arman

In [7]:
names : list[str] = ['Waqas' , 'haris', 'arman','ali','rohan','shayan']
plc = len(names) -1
print(names[-1])
# print(len(names))

# for name in names[1::2] :
#     print(f'Sky11 team memmber {name.title()}')

shayan

In [18]:
# from typing import Tuple
user_data : list[tuple[str,str]] = [('waqas','waqas123'),
                                    ('haris','haris123'),
                                    ('arman','arman123'),
                                    ]

print(user_data)

for user in user_data:
    print(user)
    print(user[0])
    print(user[1])

[('waqas', 'waqas123'), ('haris', 'haris123'), ('arman', 'arman123')]
('waqas', 'waqas123')
waqas
waqas123
('haris', 'haris123')
haris
haris123
('arman', 'arman123')
arman
arman123

In [20]:
user_data : list[tuple[str,str]] = [('waqas','waqas123'),
                                    ('haris','haris123'),
                                    ('arman','arman123'),
                                    ]

for user in user_data:
    name , password = user
    print(name,password)

waqas waqas123
haris haris123
arman arman123

In [31]:
user_data : list[tuple[str,str]] = [('waqas','waqas123'),
                                    ('haris','haris123'),
                                    ('arman','arman123'),
                                    ]
user_name  : str = input('Enter your name')
user_password : str = input('Enter your password')

# we can use else statement at the end of for loop (only in python ) 
for user in user_data:
    name , password = user
    if name == user_name and password == user_password:
       print(name,password,'logged in')
       break
else : 
    print('Wrong email or password')

Wrong email or password

In [32]:
# else will esecute when last word will be print from the list otherwise else will not execute.
names : list[str] = ['Waqas' , 'haris', 'arman','ali','rohan','shayan']

for name in names[1::2] :
    print(f'Sky11 team memmber {name.title()}')
else:
    print('hello pakistan')

Sky11 team memmber Haris
Sky11 team memmber Ali
Sky11 team memmber Shayan
hello pakistan

In [33]:
names : list[str] = ['Waqas' , 'haris', 'arman','ali','rohan','shayan']

for name in names :
    print(f'Sky11 team memmber {name.title()}')
    break
else:
    print('hello pakistan')

Sky11 team memmber Waqas

In [34]:
names : list[str] = ['Waqas' , 'haris', 'arman','ali','rohan','shayan']

list (enumerate(names))

[(0, 'Waqas'),
 (1, 'haris'),
 (2, 'arman'),
 (3, 'ali'),
 (4, 'rohan'),
 (5, 'shayan')]

In [36]:
names : list[str] = ['Waqas' , 'haris', 'arman','ali','rohan','shayan']

for index , name in enumerate(names):
    print(index , name)

0 Waqas
1 haris
2 arman
3 ali
4 rohan
5 shayan

# Number list
* range is generator function that returns a list of numbers that will be used to generate the number list for each team   member in the team member list.
* range(start , end, step)

In [46]:
list(range(10))
num = list(range(2, 21 , 2))
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
for   val in range(2 , 21 , 2):
    print(val)

2
4
6
8
10
12
14
16
18
20

In [45]:
for   val in range(1 , 11):
    print(f'2 X {val} = {val * 2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [43]:
for index , val in enumerate(range(2 , 21 , 2)):
    print(f'2 x {index + 1} = {val}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [47]:
squares = []
for sqr in range (1 , 11):
    square = sqr ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
# min(squares)
max(squares)

385

In [54]:
sum(squares)

385

# list comprehension

In [55]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
table = [ val * 2 for val in range(1,11) ]
print(table)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [69]:
bool(0)

False

In [68]:
bool(1)
bool(4)

True