# Operators

### Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [7]:
!conda install lxml -y

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\anaconda\envs\py12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libiconv-1.16              |       h2bbff1b_3         685 KB
    libxml2-2.10.4             |       h0ad7f3c_2         2.9 MB
    lxml-5.2.1                 |  py312h09808a7_0         1.1 MB
    ------------------------------------------------------------
                                           Total:         4.7 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_3
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_2
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-5.2.1-py312h09808a7_0



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

we can install directly in the jupyter via this command: !pip install pandas

In [9]:
# Python Arithmetic Operators
import pandas as pd 
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
print('Python Arithmetic Operators')
table[0]

Python Arithmetic Operators

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
#  modulus 
a : int = 11
b : int = 7
print(a % b)

4

In [7]:
# floor division 
print(11 // 7)

1.5714285714285714

In [4]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
print('Python assignment Operators')
table[1]

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [15]:
x : int = 5
x += 3
print(x)
x -= 2
print(x)
x *= 3
print(x)
x /= 2
print(x)
x %= 2
print(x)
x += 8
print(x)
x //= 3
print(x)
x **= 3
print(x)

8
6
18
9.0
1.0
9.0
3.0
27.0

In [19]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
print('Python comparison Operators')
table[2]

Python comparison Operators

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [25]:
a : int = 5
b : int = 6 
print(a<=b)

x : str = "A"
y : str = "B"
print(x <= y)

True
True

In [30]:
ord("A")

65

In [28]:
chr(67)

'C'

In [31]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
print('Python logical Operators')
table[3]

Python logical Operators

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [34]:
name : str = 'Waqas'
print(not name=="Waqas")

False

In [35]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
print('Python Indentity Operators')
table[4]

Python Indentity Operators

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [37]:
# this "is" operator check the value on memory level 
x : str = 'abcd'
y : str = "abcd" 
print(id(x))
print(id(y))
x is y

1936115950704
1936115950704

True

In [41]:
x : str = 'waqas'
y : str = "Waqas"
print(id(x))
print(id(y)) 
x is not y

1936115606384
1936115967216

True

In [43]:
# Python MemberShip operator 
print('Python MemberShip Operators')

table[5]

Python MemberShip Operators

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [45]:
x : list[int] = [1,2,3,4,5]
y: int = 7
y in x

False

In [47]:
names : list[str] = ["waqas",' haris' , 'arman']
uinput : str = input('enter your name')
uinput in names

False

In [51]:
x : str = 'waqas'
x not in names

False

In [52]:
# unzip 
x, y, z = 1 ,3,6
print(x)
print(y)
print(z)

1
3
6

In [57]:
data = (1 , 5 ,8)
print(data[0],data[1],data[2])
print(*data)


'a' * 5

1 5 8
1 5 8

'aaaaa'