# String

In [ ]:
name:str = 'Muhammad waqas'
age:int = 24

concat = name + age
print(concat)

:

In [1]:
name:str = 'Muhammad waqas'
age:int = 24
len(age)

concat = name + str(age)
print(concat)

TypeError: object of type 'int' has no len()

# Multilines string

In [3]:
message : str = ''' 
hello how are you?
hello pakistan
 '''
print(message)

hello how are you?
hello pakistan

# f-string

In [5]:
name:str = 'Waqas'
fname:str = 'Raees ahmed'
age:int = 24
student_card = f'''
 PIAIC student info.
 Student Name : {name}
 Father Name : {fname}
 Age : {age}
 '''
print(student_card)

 PIAIC student info.
 Student Name : Waqas
 Father Name : Raees ahmed
 Age : 24

In [6]:
name:str = 'Waqas'
fname:str = 'Raees ahmed'
age:int = 24
student_card = f'''
 PIAIC student info.
 Student Name : {name}
 Father Name : {fname}
 Age : {age}

 total {2+5+6+6}
 '''
print(student_card)

 PIAIC student info.
 Student Name : Waqas
 Father Name : Raees ahmed
 Age : 24

 total 19

# jinja style

In [8]:
name: str ='''
student name {{name}}
'''
print(name)

student name {{name}}

In [11]:
name : str = 'MuhammAd WAqAs'
print(name.capitalize())
print(name.casefold())
print(name.endswith('s'))

Muhammad waqas
muhammad waqas
True

# f-string and format methods

In [15]:
# format methond
name:str = 'Waqas'
fname:str = 'Raees ahmed'
age:int = 24
student_card = '''
 PIAIC student info.
 Student Name : {a}
 Father Name : {b}
 Age : {c}

 '''
print(student_card.format(a=name , b=fname, c=age))

 PIAIC student info.
 Student Name : Waqas
 Father Name : Raees ahmed
 Age : 24

In [16]:
# f-string
name:str = 'Waqas'
fname:str = 'Raees ahmed'
age:int = 24
student_card = f'''
 PIAIC student info.
 Student Name : {name}
 Father Name : {fname}
 Age : {age}

 '''
print(student_card)

 PIAIC student info.
 Student Name : Waqas
 Father Name : Raees ahmed
 Age : 24

In [14]:
a = 5
b = 3
message = 'value of a = {} and value of b = {}'
print(message.format(a,b))

value of a = 5 and value of b = 3

In [17]:
student_code : str = '''
a:int = 5
b: int = 13
print(a+b)
'''
exec(student_code)

18

# string methods and attributes

In [18]:
a : list[str] = [i for i in dir(str) if "__" not  in i]
print(a)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [20]:
name : str = '       Muhammad waqas     '
display(name)
display(name.lstrip())

'       Muhammad waqas     '

'Muhammad waqas     '

In [21]:
name : str = '       Muhammad waqas     '
display(name)
display(name.rstrip())

'       Muhammad waqas     '

'       Muhammad waqas'

In [22]:
name : str = '       Muhammad    waqas     '
display(name)
display(name.strip())

'       Muhammad waqas     '

'Muhammad waqas'

In [28]:
import re 

name : str = '       Muhammad    waqas     '
display(name)
# re.sub(type string and taking argument that how many spaces you allowed , type string and taking replacement value , variable name )                      
remove_mid_space = re.sub(' {2,100}',' ',name).strip()
display(remove_mid_space)

'       Muhammad    waqas     '

'Muhammad waqas'

In [30]:
name : str = 'muhammad waqas'
display(name)
display(name.title())

'muhammad waqas'

'Muhammad Waqas'

In [32]:
fname:str = 'Muhammad'
lname:str = 'waqas'
fstring:str = f'{fname} {lname}'
display(fstring.title())

'Muhammad Waqas'

In [40]:
name:str = 'Muhammad\twaqas'
name2:str = 'Muhammad\nwaqas'
name3:str = 'Muhammad:\b waqas'

print(name)
print(name2)
print(name3)

Muhammad	waqas
Muhammad
waqas
Muhammad waqas

In [44]:
http_url:str = 'https://google.com'
remove_prefix = http_url.removeprefix('https')
display(remove_prefix)

remove_suffix = http_url.removesuffix('m')
display(remove_suffix)

'://google.com'

'https://google.co'